@model Reward
@{
    ViewBag.Title = "Add Reward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

@using (Html.BeginForm("Add", "AddReward", FormMethod.Post))
{

    <div id="AddUsers">
        <table style="width:40%">
            <tr>
                <td>
                    Title:
                    <input type="text" width="20" class="text-info" name="Model.Title" />
                </td>
                <td>
                    Desc:
                    <input type="text" width="20" class="text-info" name="Model.Description" />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-info" style="margin:5px 0px 0px 0px">Add Reward</button>
                </td>
            </tr>
        </table>
    </div>
}

