
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Задание к модулю ASP.NET MVC принципы</p></br><h1>Задание</h1><p>Реализовать веб-приложение, позволяющее работать с пользователями и наградами (перечень атрибутов указаны ниже): просматривать список, а также создавать и удалять их. Способ хранения не принципиален. В качестве пользовательского интерфейса использовать ASP.NET MVC. Работу с пользователями и с наградами реализовать в разных контроллерах. Реализовать вменяемую навигацию в строке меню (смотреть Views/Shared/_Layout.cshtml).</p><p>Атрибуты пользователя:</p>
<ul><li>ID — уникальный идентификатор, генерируемый сервером (int или Guid).</li><li>Name — полное имя (String).</li><li>Birthdate — дата рождения (DateTime).</li><li>Age — возраст. Вычисляемое число полных лет (int).</li></ul><p>Атрибуты награды:</p>
<ul><li>ID — уникальный идентификатор, генерируемый сервером (int или Guid).</li><li>Title — наименование (String).</li><li>Description — описание (String).</li></ul>



@section side {
    <strong> /Home</strong>
}